body {
  width: 100%;
  height: 100vh;
  margin: 0 0;
  padding: 0;
  text-align: center;
  background: #222;
}

.video-1 {
  height: 95vh;
  width: 100%;
  transform: scaleX(-1);
  border-radius: 5px;
}

.video-2-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: scaleX(-1) translateX(5%) translateY(5%);
}

.video-2 {
  position: absolute;
  background: #333;
  height: 10vh;
  /* width: 50px; */
  /* aspect-ratio: 1/1; */
  transform: scaleX(-1);
  bottom: 20px;
  left: 50px;
  border-radius: 5px;
  box-shadow: 0 0 2px #999;
}

.container {
  position: relative;
}

.controls {
  position: absolute;
  display: flex;
  gap: 5px;
  right: 100px;
  bottom: 10px;
}

.floating-button {
  border-radius: 50%;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}